* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cal {
    max-width: 600px;
}

#result {
    min-height: 2.3rem;
}

button {
    background-color: rgb(235, 160, 21);
    padding: .7rem;
    border: none;
    border-radius: 12px;
    font-weight: bolder;
    color: rgb(41, 41, 41);

    transition: background-color .5s ease, box-shadow .5s ease;
}

button:hover {
    background-color: rgb(197, 130, 5);
    color: black;
    box-shadow: 0 0 20px rgba(26, 144, 180, 0.5); 
}

button:focus {
    background-color: rgb(197, 130, 5);
    color: black;
}